@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main_bg {
    @apply h-screen bg-[#B292FF] p-3;
  }

  .main_paper {
    @apply bg-[#0D0D0E] w-full h-full rounded-3xl overflow-y-scroll no-scrollbar;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
